<{View(common/header.html)}>

<main>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1>rr cms - rrdev.ru ® llc</h1>
            <p class="lead">Система управления взаимо<wbr>отношениями человека с прикладным программном обеспечением. CMS (Content Management System) - это программное обеспечение, которое позволяет управлять содержимым веб-сайта, блога, онлайн-магазина или другого веб-приложения. CMS предоставляет пользователю удобный интерфейс для создания, редактирования и публикации контента, а также управления другими функциями сайта, такими как пользователи, настройки, дизайн и т.д.

                С помощью CMS, пользователи могут создавать и публиковать содержимое, такое как тексты, изображения, видео, аудио, и другие типы данных, не имея при этом навыков программирования или дизайна. Большинство CMS также позволяют настраивать функциональность сайта через плагины, расширения или темы.</p>

        </div>

    </div>

</main>


<!--<{View(common/footer.html)}>-->