<{ Addcss(/css/edmin.css) }>
<nav class="navbar navbar-dark bg-dark sticky-top">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">Admin</span>
        <ul class="navbar-nav px-3">
            <li class="nav-item text-nowrap">
                <a class="nav-link" href="/user/logout"><i class="fas fa-sign-out-alt"></i></a>
            </li>
        </ul>
    </div>
    
</nav>
<div class="d-flex flex-wrap">
    <aside class="sticky-top" style="width: 15rem;">
        <{ view(AdminController/sidebar.html)}>
    </aside>
    <main style="width:calc(100% - 15rem);">
        <{ DashboardContent }>
    </main>
</div>
